/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-medium: 500;
}

/*===== Colores =====*/
:root {
  --first-color: #017f38;
  --primary-text-color: #00a077;
  --product-text-color: #065227;
  --white-color: #fafaff;
  --black-color: black;
  --dark-color: #2a3b47;
  --text-color: #697477;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'DM Sans', sans-serif;
  --big-font-size: 6.25rem;
  --medium--font-size: 4rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 10.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
*,
html {
  scroll-behavior: smooth;
  font-family: 'DM Sans', sans-serif;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  line-height: 1.6;
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bg-primary {
  background: linear-gradient(238.14deg, #96c35f -26.9%, #017f38 15.41%, #065227 78.59%), #c4c4c4;
}
/*===== CLASS CSS ===== */
.section {
  padding: 3rem 0;
}
.section-title {
  position: relative;
  color: var(--primary-text-color);
  margin-bottom: var(--mb-3);
}

span[class*='section-title']:last-child {
  margin-bottom: 3rem;
}
/* .section-title::after {
  position: absolute;
  content: "";
  width: 32px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
} */

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 1rem;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
    backdrop-filter: blur(10px);
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
  color: var(--dark-color);
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__logo-box {
  width: 220px;
}
.nav__logo {
  color: var(--white-color);
  width: 160px;
  height: 190px !important;
}
.nav__toggle {
  color: var(--white-color);
  font-size: 1.5rem;
  cursor: pointer;
}
.nav__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.nav__logo {
  height: 3.5rem;
}
.nav__text-box {
  width: max-content;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*===== HOME ===== HERO */
.home {
  position: relative;
  overflow: hidden;
}
.home__container {
  height: calc(100vh - var(--header-height));
  row-gap: 5rem;
}
.home__title {
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: var(--white-color);
  line-height: 0.8;
}
.home__title span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
.home__scroll {
  align-self: flex-end;
  padding-bottom: var(--mb-4);
}
.home__scroll-link {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--white-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

/* ===== ABOUT =====*/
.about__container {
  justify-items: center;
  row-gap: 2rem;
  text-align: center;
}
.about__img {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  width: 120px;
  height: 120px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
}
.about__img img {
  width: 100px;
}
.about__subtitle {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}
.about__text {
  margin-bottom: var(--mb-4);
}
.about__profession {
  display: block;
  margin-bottom: var(--mb-4);
}
.about__social-icon {
  font-size: 1.4rem;
  margin: 0 var(--mb-1);
}
.about__social-icon:hover {
  color: var(--first-color);
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
}
.skills__subtitle {
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.skills__name {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-right: var(--mb-2);
  margin-bottom: var(--mb-3);
  padding: 0.25rem 0.5rem;
  background-color: var(--white-color);
  border-radius: 0.25rem;
}
.skills__name:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
.skills__img img {
  border-radius: 0.5rem;
}

/* ===== SERVICES =====*/

.services__container {
  justify-items: center;
  row-gap: 2rem;
}
.services__img {
  /* position: relative; */
  overflow: hidden;
  padding: 30px;
  border-radius: 0.5rem;
  box-shadow: 4.3px 1.3px 2.2px rgba(0, 0, 0, 0.017), 10.2px 3.2px 5.3px rgba(0, 0, 0, 0.026),
    19.3px 6px 10px rgba(0, 0, 0, 0.033), 34.4px 10.7px 17.9px rgba(0, 0, 0, 0.04),
    64.3px 20.1px 33.4px rgba(0, 0, 0, 0.049), 154px 48px 80px rgba(0, 0, 0, 0.07);
  background-color: var(--white-color);
}
/* .services__img img {
  opacity: 0;
} */

.services__link-name {
  color: var(--dark-color);
}

/* ===== CONTACT =====*/
.contact {
  background-image: url(../public/assets/img/contact-bg.png);
}
.contact__container {
  row-gap: 2rem;
}

.contact__img_cont {
}
.contact__subtitle {
  font-size: var(--normal-font-size);
  color: var(--first-color);
}
.contact__text {
  display: inline-block;
  margin-bottom: var(--mb-2);
}
.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.form-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ant-input.contact__input {
  width: 100%;
  padding: 0.4rem 0.5rem;
  outline: none;
  border: 1.5px solid transparent;
  font-size: var(--normal-font-size);
  border-radius: 0.8rem;
  margin-bottom: 3px;
}
.contact__button {
  display: block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem !important;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}

/* ===== FOOTER=====*/
.footer {
  background-color: var(--black-color);
  color: var(--white-color);
}
.footer__container {
  row-gap: 2rem;
}
.footer__title {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin-bottom: var(--mb-2);
}
.footer__link {
  padding: 0.25rem 0;
}
.footer__link:hover {
  color: var(--first-color);
}
.footer__social {
  font-size: 1.4rem;
  margin-right: var(--mb-1);
  color: var(--white-color);
}
.footer__social:hover {
  color: var(--first-color);
}

.footer__data {
  display: flex;
}

/* ===== MEDIA QUERIES =====*/
/* For small devices */
@media screen and (max-width: 320px) {
  .home__img {
    width: 230px;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
  }
  .section-title {
    /* margin-bottom: 3rem; */
    /* font-size: var(--medium--font-size); */
  }
  .section-title::after {
    width: 64px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: var(--white-color);
  }
  .nav__link:hover {
    color: var(--white-color);
  }
  .active::after {
    background-color: var(--white-color);
  }

  .home__container {
    height: 100vh;
    /* grid-template-rows: 1.7fr 1fr; */
    row-gap: 0;
  }
  .home__img {
    width: 524px;
    right: 10%;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
    padding: 4rem 0;
  }
  .about__img {
    width: 200px;
    height: 200px;
  }
  .about__img img {
    width: 165px;
  }

  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .services__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .ant-form.ant-form-horizontal.contact__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    background: rgba(245, 245, 245, 0.534);
    width: 500px;
    height: 305px;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
  }
  .home__img {
    width: 500px;
    right: 24%;
  }
}

/* ==============================================BUTTONS */
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  /* padding: 1.25rem 3.125rem; */
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.4s;
  position: relative;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background: #fff;
  color: var(--first-color);
}
.btn--white:after {
  background: #fff;
}
.btn--white:hover {
  color: var(--first-color);
}

.btn--green {
  background: #55c57a;
  color: #fff;
}
.btn--green:after {
  background: #55c57a;
}
.btn--green:hover {
  color: #fff;
}

.btn:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInBottom 0.6s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
}

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(0px);
}

.btn--2 {
  position: relative;
  letter-spacing: 0.15em;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  /*  */
  background: transparent;
  outline: none;
  font-size: 28px;
  color: #000;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.btn--2::after,
.btn--2::before {
  content: '';
  position: absolute;
  height: 60%;
  width: 10%;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 50%;
}
.btn--2::before {
  background-color: #7ed56f;
  top: -0.75rem;
  left: 0.5rem;
  animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate;
}
.btn--2::after {
  background-color: #28b485;
  top: 3rem;
  left: 13rem;
  animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s infinite alternate;
}
.btn--2:hover {
  color: #fff;
  z-index: 5;
}
.btn--2:hover::before,
.btn--2:hover::after {
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 0;
  animation: none;
  z-index: -5;
}
.btn--2:hover::after {
  left: 0rem;
}
.btn--2:hover::before {
  top: 0.5rem;
  left: 0.35rem;
}

/* ========HEADING======= */
.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 3rem;
}
.heading-primary--main {
  display: block;
  /* font-size: 4.25rem; */
  text-transform: uppercase;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  line-height: 120%;
  /* 
        animation-iteration-count: 3; 
        animation-timing-function: linear; 
        animation-delay:1s;
        */
}
.heading-primary--sub {
  display: block;
  /* font-size: 1.25rem; */
  line-height: 2.125rem;
  font-weight: 400;
  /*    animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-in; */
  animation: moveInRight 1s ease-in;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: currentColor;
}

.text-contact__form {
  color: var(--white-color);
}

/* ====PROMOTIONS==== */
.promotions {
  background-image: url(../public/assets/img/bg-promotions.png);
}
.promotions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.promotions__carousel {
  width: 65%;
  text-align: center;
}

.promotions__text {
  text-align: center;
  color: var(--white-color);
}

.text-white {
  color: var(--white-color);
}
.ant-carousel .slick-arrow.slick-next::before {
  content: '';
}
.ant-carousel .slick-arrow.slick-prev::before {
  content: '';
}

.ant-carousel .slick-list .slick-slide > div {
  height: 100%;
}
.slick-initialized {
  line-height: 0 !important;
}

/* ]]]]]]]]]]]]]]]]]]]]]]]]]]]]] GRID [[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[ */

/* ================== SPONSOR ===========================*/
.providers__container {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  row-gap: 3.5rem;
  margin-bottom: var(--mb-4);
}

.providers__content:hover .providers__img {
  filter: invert(0.5);
}

.providers__img {
  width: 90px;
  filter: invert(0.7);
  transition: var(--img-transition);
}

.providers__text {
  text-align: center;
}

.tx-center {
  text-align: center;
}

.ant-modal-body {
  padding: 10px;
}

.service__icon {
  height: 50px;
  width: 50px;
}
/* =======================PRODUCT====================== */
.product-title {
  color: var(--product-text-color);
}

.font-DMSANS {
  font-family: 'DM Sans';
}
